body {
  max-width: 1440px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;

  margin: 24px auto;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  transform: scale(1.04);
  cursor: zoom-in;
}

body .sl-overlay {
  background: rgba(46, 47, 66, 0.8);
}
